.whole{
    padding: 0;
    margin: 0;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    box-shadow: 2px 1px 2px #eee;
}

.logo{
    margin-top: 20px;
}


.link{
    list-style-type: none;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
ul li a {
  text-decoration: none;
  color: gray;
}


.links{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 20px;
    color: #666;
}

.main-image{
    padding-top: 100px;
    width: 500px;
    margin-left: 400px;
}

.centre{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: serif;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
}

.width{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: serif;
    font-weight: 300;
    padding-top: 5px;
}
.button{
    display: inline-block;
    margin-left: 800px;
    margin-right: 800px;
    padding: 10px 30px;
    background-color:#387ed1;
    color: #fff;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.button:hover{
    background-color:  #28333f;
}